<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 col-sm-6 col-xs-6 menu-cell prava_ovlastuvanja">
			<a href="#" class="main-menu prava_ovlastuvanja" data-page="prava_ovlastuvanja">
<!--
				<img src="http://placehold.it/320x330" class="thumbnail img-responsive">
-->
				<img src="img/menu-prava-ovlastuvanja.png" class="thumbnail img-responsive">
			</a>
		</div>
		<div class="col-lg-6 col-sm-6 col-xs-6 menu-cell legitimiranje">
			<a href="#" class="main-menu legitimiranje" data-page="legitimiranje">
				<img src="img/menu-legitimiranje.png" class="thumbnail img-responsive">
			</a>
		</div>
		<div class="col-lg-6 col-sm-6 col-xs-6 menu-cell priveduvanje">
			<a href="#" class="main-menu priveduvanje" data-page="priveduvanje">
				<img src="img/menu-priveduvanje.png" class="thumbnail img-responsive">
			</a>
		</div>
		<div class="col-lg-6 col-sm-6 col-xs-6 menu-cell pregledi_pretresi">
			<a href="#" class="main-menu pregledi_pretresi" data-page="pregledi_pretresi">
				<img src="img/menu-pregledi-pretresi.png" class="thumbnail img-responsive">
			</a>
		</div>
		<div class="col-lg-6 col-sm-6 col-xs-6 menu-cell zakon_pravda">
			<a href="#" class="main-menu zakon_pravda" data-page="zakon_pravda">
				<img src="img/menu-zakon-pravda.png" class="thumbnail img-responsive">
			</a>
		</div>
		<div class="col-lg-6 col-sm-6 col-xs-6 menu-cell za_proektot">
			<a href="#" class="main-menu za_proektot" data-page="za_proektot">
				<img src="img/menu-za-proektot.png" class="thumbnail img-responsive">
			</a>
		</div>
	</div>
</div>
