<div id="wrapper" class="wrapper">
	<div id="navbar" class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="pull-left">
				<a id="btn_home" href="#" class="" style=""><img src="img/home-circle.png"></a>
				<img id="img_title" src="img/pravda_icon_96.png" style="display:none;">
			</div>
			<div class="pull-left">
				<div id="navbar-title" class="navbar-brand" href="#">&nbsp;</div>
			</div>
		</div>
	</div>

	<div id="page-content-wrapper" class="page-content">
		<!-- Keep all page content within the page-content inset div! -->
	</div>
</div>
