<!--Легитимирање-->
<div id="page-legitimiranje" class="page page_legitimiranje">

    <!--Content-->
	<div>
		<div class="page-segment">
			<h4 class="page-subtitle">Кога може да те легитимираат?</h4>
			<div class="page-text">
				<p><strong>АКО СИ ЛИЦЕ:</strong></p>
				<ol>
					<li>кое треба да се лиши од слобода, приведе, задржи, упати или предаде на надлежен државен орган или установа;</li>
					<li>од кое се заканува опасност за чие спречување е неопходно полициско постапување;</li>
					<li><span style="line-height: 1.5em;">над кое се извршува преглед или претрес;</span></li>
					<li>кое е затечено во туѓ дом, објект и други простории или во превозни средства над кои се извршува преглед или претрес;</li>
					<li>кое е затечено на простор или објект на кој е привремено ограничена слободата на движење и задржување;</li>
					<li>кое пријавува извршено кривично дело или прекршок или сторителите на тие дела, односно соопштува информации од интерес на работата на Полицијата, освен ако лицето кое го пријавува кривичното дело или прекршокот не сака да се идентификува;</li>
					<li>кое со своето однесување предизвикува сомневање дека е сторител на кривично дело или прекршок или дека има намера да стори такви дела или кое одговара на описот на лице по кое се трага;</li>
					<li>кое ќе се затекне на местото на извршено кривично дело или прекршок;</li>
					<li>кое се наоѓа на место на кое заради безбедносни причини е потребно да се утврди идентитетот на сите лица или на поголемиот број лица;</li>
					<li>на оправдано барање на службено лице од државен орган, правно или физичко лице;</li>
					<li>при влез во објекти кои ги обезбедуваат полициски службеници и</li>
					<li> во други случаи утврдени со закон.</li>
				</ol>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Дали смееш да знаеш зошто те легитимираат?</h4>
			<div class="page-text">
			<ul>
				<li>ДА, полицискиот службеник е должен да го запознае лицето кое го легитимира за причините за проверката на неговиот идентитет.</li>
			</ul>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Како те легитимираат?</h4>
			<div class="page-text">
			<ul>
				<li>Со увид во твојата лична карта или друга јавна исправа со твоја фотографија.</li>
				<li>Или пак, Врз основа на исказ од лице чиј идентитет е проверен или познат на полицискиот службеник.</li>
			</ul>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Дали смее полицаецот да ти ги задржи документите?</h4>
			<div class="page-text">
			<ul>
				<li>Да, но само за времето потребно за утврдување на идентитетот, а потоа веднаш треба да ги врати.</li>
			</ul>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Што ако:</h4>
			<div class="page-text">
			<ul>
				<li><span style="color: #ff0000;">ОДБИЕШ ДА СЕ ЛЕГИТИМИРАШ</span></li>
				<li><span style="color: #ff0000;">НЕ СИ ВО МОЖНОСТ</span></li>
				<li><span style="color: #ff0000;">НЕ НОСИШ ИСПРАВИ</span></li>
				<li><span style="color: #ff0000;">АКО ПОСТОИ СОМНЕВАЊЕ ЗА ВЕРОДОСТОЈНО-СТА НА ИСПРАВИТЕ</span></li>
				<li>Тогаш може да те задржат за време потребно за утврдување на идентитетот, но секако не подолго од три часа.</li>
				<li>Во овој случај треба да ти овозможат да го докажеш идентитетот на кој било начин.</li>
			</ul>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Собирање информации</h4>
			<div class="page-text">
			<ul>
				<li>Полицијата собира информации во непосредни разговори со граѓани во врска со казниви дела кога постојат основи на сомневање дека се подготвува, во тек е извршување или е извршено казниво дело, а постои основано верување дека граѓанинот има сознание за околности во врска со тоа казниво дело.</li>
				<li>Не си должен да ги дадеш бараните информации на полицискиот службеник!</li>
			</ul>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Дали може полицијата да те повика на разговор?</h4>
			<div class="page-text">
			<ul>
				<li>Да, полицијата е овластена писмено со покана да повикува граѓани заради собирање потребни известувања неопходни за извршување на полициските работи.</li>
				<li>Полицијата може да повика лице и усно, при што е должна да му ги соопшти причините за повикувањето, а со согласност на лицето може да го превезе до службените простории.</li>
				<li>Лице може да се повика и преку средствата за јавно информирање.</li>
			</ul>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Писмената покана мора да содржи:</h4>
			<div class="page-text">
			<ul>
				<li>име и презиме на лицето кое се повикува,</li>
				<li>адреса на живеалиште односно престојувалиште на лицето кое се повикува,</li>
				<li>назив, место и адреса на седиштето на организационата единица на Полицијата каде што се повикува лицето,</li>
				<li>причини за повикувањето, место и време на повикувањето, како и поука за правото на бранител во полициската постапка, како и</li>
				<li>последиците доколку не се јави на поканата.</li>
			</ul>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Дали полицијата ако те повикала, може присилно да те доведе?</h4>
			<div class="page-text">
			<ul>
				<li>Законот за полиција го задржува решението дека повиканото лице полицијата може присилно да го доведе САМО СО СУДСКА НАРЕДБА и САМО ТОГАШ кога очигледно одбегнува да се јави на уредно доставена покана во која било предупредено на можноста од присилно доведување и тогаш кога своето недоаѓање нема да го оправда, но новиот ЗКП, кој ќе почне да се применува на 1.12.2013, конечно го напушти присилното доведување во полициска станица заради информативни разговори.</li>
			</ul>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Во кое време може да те повикаат?</h4>
			<div class="page-text">
			<ol>
				<li>Мора веднаш да те известат на јазик што го разбираш:</li>
				<li>за причините за повикувањето односно приведувањето,</li>
				<li>на јасен начин да те поучат за правото да молчиш,</li>
				<li>за правото да се советуваш со бранител НАСАМО (значајна гаранција која ја предвидува новиот ЗКП, но не и ЗП), правото на бранител за време на полициската постапка,</li>
				<li>правото на лекарска помош ако тоа го бараш,</li>
				<li>како и за правото да се извести член на твоето семејство или блиско лице.</li>
				<li><span style="color: #ff0000;">Дури и ако си кажал/а дека не сакаш бранител, можеш во секое време да се предомислиш.</span></li>
			</ol>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Важно е да знаеш дека&#8230;</h4>
			<div class="page-text">
			<ul>
				<li>Ако си повикан во полиција не си лишен од слобода и дека откако ќе дадеш или пак одбиеш да дадеш известување можеш да си одиш.</li>
				<li>Полицискиот службеник е должен да те поучи за ова!</li>
			</ul>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Дали смее повторно да те повикаат заради истите причини?</h4>
			<div class="page-text">
			<ul>
				<li>Лицето кое ќе се јави на поканата или било присилно доведено, а одбило да даде известувања, не смее повторно да се повикува заради истите причини.</li>
			</ul>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Дали смее да ти ја ограничат слободата?</h4>
			<div class="page-text">
			<ul>
				<li>Слободата не може да ти биде ограничена, освен со одлука на судот и во случаи и во постапка утврдена со закон – чл. 12 ст. 2 од Уставот на РМ – <span style="color: #ff0000;">ОВА ЗНАЧИ ДЕКА СУДСКИ НАЛОГ ЗА АПСЕЊЕ ПОСТОИ КАКО ПРАВИЛО.</span></li>
			</ul>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Смее ли да те лишат од слобода без судски налог?</h4>
			<div class="page-text">
			<ul>
				<li>Да, но само во исклучителни ситуации.</li>
				<li>Лицето лишено од слобода мора веднаш, а најдоцна во рок од 24 часа од моментот на лишувањето од слобода да биде изведено пред суд кој без одлагање ќе одлучи за законитоста на лишувањето од слобода (чл. 12, ст. 4 од Уставот на РМ)</li>
			</ul>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Кога смее да те лишат од слобода без налог?</h4>
			<div class="page-text">
			<ul>
				<li><span style="color: #ff0000;">Лицето затечено во извршување на кривично дело за кое се гони по службена должност може да го лиши од слобода секој</span> ако постои опасност од бегство за што веднаш се известува полицијата. Лицето лишено од слобода се задржува сè до доаѓањето на полицијата.</li>
				<li><span style="color: #ff0000;">Полицијата може без одлука на суд да лиши од слобода</span> и лице за кое постојат основи на сомневање дека сторило кривично дело за кое се гони по службена должност само:</li>
				<li>ако постои опасност од одлагање,</li>
				<li>ако постои некоја од причините за притвор.</li>
				<li>Полицијата е должна веднаш, а најдоцна во рок од шест часа (нов ЗКП) од лишувањето од слобода да го изведе лицето пред суд.</li>
				<li>При лишувањето од слобода лицето веднаш ќе се запознае за причините за лишувањето од слобода и ќе се поучи за правата.</li>
			</ul>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Кога смее полицијата да го задржи лицето лишено од слобода?</h4>
			<div class="page-text">
			<p><strong>Ако задржувањето е потребно заради:</strong></p>
			<ol>
				<li>утврдување на идентитетот,</li>
				<li>проверување на алиби или</li>
				<li>од други причини е потребно да се соберат нужни податоци за водење на постапката против тоа лице.</li>
			</ol>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Ако те лишат од слобода и задржат мора да ти кажат&#8230;</h4>
			<div class="page-text">
			<ol>
				<li>кои се причините за лишувањето од слобода и за задржувањето,</li>
				<li>за кое делото те товарат,</li>
				<li>да те поучат за правото на молчење, правото на информирање на семејството или друго лице по негов избор, правото на бранител и на лекарски преглед.</li>
			</ol>
			<ul>
				<li>На овие права лицето може да се повикаш веднаш или во кое било време додека си задржан/а!!!</li>
			</ul>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Колку долго може да трае задржувањето?</h4>
			<div class="page-text">
			<ul>
				<li>Најдолго 24 часа од моментот на лишување од слобода и во овој рок лицето мора да се изведе пред суд. По истекот на овој рок задржаното лице мора да биде пуштено на слобода.</li>
			</ul>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Ако те затекнат на местото на извршување на кривичното дело&#8230;</h4>
			<div class="page-text">
			<ul>
				<li>Полицијата може да те задржи ако смета дека би можел да дадеш податоци важни за кривичната постапка и доколку е веројатно дека твоето испитување подоцна не би можело да се изврши или би било поврзано со значително одолжување или други тешкотии.</li>
				<li>Ваквото задржување не смее да трае подолго од шест часа.</li>
			</ul>
			</div>
		</div>
	</div>
</div>
