<!--Права и овластувања-->
<div id="page-prava-ovlastuvanja" class="page page_prava_ovlastuvanja">
	<!--Content-->
	<div id="page-top">
		<div class="page-segment">
			<h4 class="page-subtitle">Нaшите права и полициските овластувања</h4>
			<div class="page-text">
				<p><strong>Која е работата на полицијата?</strong></p>
				<ul>
					<li>Од аспект на кривичната постапка таа има задача да расчисти и провери некои првични наводи и сомневања.</li>
					<li>Тогаш кога полицијата располага со сознанија кои врз основа на криминалистичко знаење и полициското искуство укажуваат на тоа дека се подготвува, во тек е извршување или е извршено казниво дело&#8230;</li>
					<li>Полицијата презема мерки и применува полициски овластувања што се однесуваат на откривање на казниво дело и гонење на неговиот сторител – таа врши криминалистичко истражување со примена на полициските овластувања, оперативно-тактички и превентивни мерки.</li>
				</ul>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Kои се полициски овластувања</h4>
			<div class="page-text">
				<ol>
					<li>проверка и утврдување на идентитетот на лица и предмети</li>
					<li>собирање на информации</li>
					<li>повикување</li>
					<li>лишување од слобода</li>
					<li>приведување</li>
					<li>задржување</li>
					<li>потрага по лица и предмети</li>
					<li>прикриено полициско дејствување</li>
					<li>пренасочување, насочување или ограничување на движењето на лица и превозни средства на определен простор за нужно потребно време</li>
					<li>предупредување и наредување</li>
					<li>привремено одземање на предмети</li>
					<li>преглед односно претрес на определени објекти и простории на државни органи, институции што вршат јавни овластувања и други правни лица и увид во определена нивна документација</li>
					<li> влегување во туѓ дом и други затворени простории</li>
					<li>сопирање, преглед односно претрес на лица, багаж и превозни средства</li>
					<li>обезбедување, преглед и увид на местото на настанот</li>
					<li>примање на пријави и поплаки, поднесување на пријави и известувања</li>
					<li>препознавање</li>
					<li> јавно распишување награда</li>
					<li>снимање на јавни места</li>
					<li>полиграфско тестирање</li>
					<li>собирање, обработка, анализирање, користење, оценување, пренесување, чување и бришење на податоци, како и обработка на лични податоци под услови и на начин утврдени со овој и посебен закон</li>
					<li>примена на посебни истражни мерки и</li>
					<li>заштита на лица опфатени согласно со прописите за заштита на сведоци.</li>
				</ol>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Закон за кривичната постапка:</h4>
			<div class="page-text">
				<ol>
					<li>да бара потребни известувања од граѓани;</li>
					<li>да сопре, легитимира и да изврши потребен преглед на лица, превозни средства и багаж ако постојат основи на сомневање дека кај нив ќе се пронајдат траги на кривичното дело или предмети што можат да послужат како доказ. Времето на нивното задржување не може да биде подолго од шест часа. Полицијата може да употреби сила во разумна мера само како крајно средство ако тоа е нужно за да се изврши преглед на лицето, превозното средство или багажот;</li>
					<li>да пренасочи или ограничи движење на лица и превозни средства на определен простор за нужно потребно време, но не повеќе од шест часа;</li>
					<li>да преземе потребни мерки заради утврдување на идентитетот на лицата и на предметите;</li>
					<li>да спроведе потрага, да распише распис по лицето и објава по имотот и имотната корист или по предметите по кои се трага;</li>
					<li>во присуство на службено или одговорно лице да изврши преглед на определени објекти и простории на државни органи, институции што вршат јавни овластувања и други правни лица и да оствари увид во нивната документација и</li>
					<li>да преземе други потребни мерки и дејствија предвидени со закон.</li>
				</ol>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Како треба да постапува полицијата?</h4>
			<div class="page-text">
				<ul>
					<li>Во извршувањето на полициските овластувања полицискиот службеник е должен да постапува хумано и да ги почитува достоинството, угледот и честа на лицата како и основните слободи и права на човекот и граѓанинот.</li>
					<li>Полициските овластувања кон малолетни лица ги применуваат полициски службеници кои се посебно оспособени за работи на сузбивање на малолетничката деликвенција, освен ако заради околностите на случајот не можат да постапуваат посебно оспособените полициски службеници.</li>
				</ul>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Што кога сметаш дека се повредени твоите слободи и права?</h4>
			<div class="page-text">
				<ul>
					<li>Имаш право на претставка до Полицијата!</li>
					<li>Полицијата е должна да изврши проверка на наводите во претставката и во рок од 30 дена од денот на приемот на претставката, во писмена форма, да го извести подносителот за преземените мерки.</li>
				</ul>
			</div>

			<h4 class="page-subtitle">Дали имаш право да знаеш кој е полицискиот службеник?</h4>
			<div class="page-text">
				<ul>
					<li>Полицискиот службеник во униформа при примена на полициските овластувања, е должен да се легитимира.</li>
					<li>Кога полицискиот службеник ги применува полициските овластувања во цивилна облека, е должен најнапред да се легитимира.</li>
					<li>По исклучок, полицискиот службеник нема да се легитимира ако реалните околности за примена на полициските овластувања укажуваат дека би можело да се загрози постигнувањето на нивната цел. Полицискиот службеник својот статус ќе го најави со зборовите &#8220;полиција&#8221;.</li>
					<li>Но, кога ќе престанат тие околностите полицискиот службеник ќе се легитимира.</li>
				</ul>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Што ако те повикаат, лишат од слобода, приведат или задржат?</h4>
			<div class="page-text">
				<ul>
					<li>Мора веднаш да те известат на јазик што го разбираш, за причините за повикувањето, приведувањето или задржувањето и на јасен начин да те поучат за правото да молчиш, правото да се советуваш со бранител, правото на бранител за време на полициската постапка, правото на лекарска помош ако тоа го бараш, како и за правото да се извести член на твоето семејство или блиско лице.</li>
					<li>Слободно повикај се на твоите права!</li>
				</ul>
			</div>
		</div>
	</div>

</div>
