<!--Прегледи и претреси-->
<div id="page-pregledi-pretresi" class="page page_pregledi_pretresi">

	 <!--Content-->
	<div>
		<div class="page-segment">
			<h4 class="page-subtitle">Што е тоа?</h4>
			<div class="page-text">
				<ul>
					<li><strong>Преглед на лица, возила, багаж и простории</strong>, претставува ограничено на надворешни проверки на облеката и други предмети и багаж со помош на сетилата за вид, слух и мирис, но не и на дејствија со кои нешто што не е видливо се прави видливо со отворање, отпакување и слично.</li>
					<li><strong>Претресот</strong> е детално претресување на лице, стан и други простории врз основа на судска наредба.</li>
				</ul>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Треба да знаете дека…</h4>
			<div class="page-text">
				<ul>
					<li>За прегледите полицијата е овластена ex lege, но претресите се поризични и интрузивни за приватноста и се преземаат во строго определена процедура!</li>
					<li>Пред почетокот на претресот, извршителот на наредбата мора да се легитимира и да му ја предаде наредбата за претрес на лицето кај кое или врз кое ќе се врши претресот. Пред претресот лицето на кое се однесува наредбата за претрес ќе се повика доброволно да го предаде лицето, односно предметите што се бараат.</li>
				</ul>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Дали може во дом да се влезе без наредба за претрес?</h4>
			<div class="page-text">
				Да, но само по исклучок односно во следниве случаи:
				<ul>
					<li>ако држателот на домот се согласува со тоа,</li>
					<li>ако таму се наоѓа лице кое по наредба на суд треба да се притвори или присилно да се доведе,</li>
					<li>поради лишување од слобода на сторител кој е затечен при извршување на кривично дело кое се гони по службена должност или</li>
					<li>на место каде што е извршено кривично дело заради вршење увид.</li>
				</ul>
				Според ЗП влегувањето во туѓ дом и затворени простории е дозволено и кога: некој од домот повикува на помош; заради отстранување на сериозна опасност по животот и здравјето на луѓето; или заради отстранување на сериозна опаност по имотот на граѓаните.
			</div>
		</div>
	</div>
</div>

