<!--Приведување-->
<div id="page-priveduvanje" class="page page_legitimiranje">

	 <!--Content-->
	<div class="page-segment">
		<h4 class="page-subtitle">Што е тоа?</h4>
		<div class="page-text">
			<ul>
				<li>Лишување од слобода без затворање и негово носење до надлежниот орган.</li>
			</ul>
		</div>
	</div>

	<div class="page-segment">
		<h4 class="page-subtitle">Кога може да те приведат?</h4>
		<div class="page-text">
			<ul>
				<li>Само со судска наредба (или распишана потерница).</li>
			</ul>
		</div>
	</div>

	<div class="page-segment">
		<h4 class="page-subtitle">Кога судот ја издава наредбата?</h4>
		<div class="page-text">
			<ul>
				<li>Ако постојат основи за притвор,</li>
				<li>Ако веќе е донесено решение за притвор,</li>
				<li>Ако уредно повиканиот обвинет не дојде, а својот изостанок не го оправда или ако не можело да се изврши уредно доставување на поканата, а од околностите очигледно произлегува дека обвинетиот го одбегнува приемот на поканата.</li>
			</ul>
		</div>
	</div>

	<div class="page-segment">
		<h4 class="page-subtitle">Дали наредбата треба да му се предаде на лицето што се приведува?</h4>
		<div class="page-text">
			<ul>
				<li>Да, освен ако од него се очекува активен отпор.</li>
			</ul>
		</div>
	</div>

	<div class="page-segment">
		<h4 class="page-subtitle">Мора ли приведувањето секогаш да подразбере употреба на сила?</h4>
		<div class="page-text">
			<ul>
				<li>Не, лицето прво се повикува доброволно да појде со полицијата.</li>
			</ul>
		</div>
	</div>
</div>
