<!--За проектот-->
<div id="page-za-proektot" class="page page_za_proektot">

	 <!--Content-->
	 <div>
		<div class="page-segment">
			<h4 class="page-subtitle">Младите и полицијата - кои се нашите права?</h3>
			<div class="page-text">
				<p>Проектот е петмесечна акција во рамките на Проектот на <strong>УСАИД</strong> за граѓанско општество во Македонија, поддржана од Фондацијата отворено општество Македонија - ФООМ, а спроведена од Коалиција „Сите за правично судење“ – Скопје и Фондација за дебата и едукација ИДЕА Југоисточна Европа Скопје.</p>
				<p>Цел на проектот е доближување на работата на полицијата до младите и создавање критичка свест за односот со полицијата и органите на редот, со цел почитување на правната државa, уривање на стереотипите за односот на младите кон полицијата и обратно и, запознавање со Законот за малолетничка правда и поголемо почитување на човековите права.</p>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Специфични цели на проектот</h3>
			<div class="page-text">
				<ul>
					<li>Создавање на критична група активисти кои ќе влијаат во својата микро средина на доближувањето на односот на младите со полицијата и обратно;</li>
					<li>Едукација на младата популација и директно влијание во создавањето на критички однос по однос на прашањата од безбедноста, односот со полицијата и Законот за малолетничка правда;</li>
					<li>Темелно информирани и активистички настроени млади од пет пилот општини, кои ќе ги адресираат проблемите со полициското постапување;</li>
					<li>Информирање на целокупната јавност преку изработка на соодветни интернет страници и мобилна апликација;</li>
					<li>Подигање на општата свест кај населението за човековите права и слобoди и владеењето на правото.</li>
				</ul>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Целна група</h3>
			<div class="page-text">
				Активисти од 18 од 24 годишна возрат;</p>
				<p><strong>Општа целна група:</strong><br />
				Граѓаните на Република Македонија</p>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Главни активности</h3>
			<div class="page-text">
				<ol>
					<li>Организирање на пет (5) работилници – “Младите и полицијата -кои се нашите права?“;</li>
					<li>Изработка и промовирање на интерактивна веб страница за детално информирање и пријавување на случаи;</li>
					<li>Развој и изработка на мобилна апликација за информирање и промовирање на Законот за малолетничка правда, Законот за полиција и правата на граѓаните;</li>
					<li>Редовна интеракција и промовирање на активностите од проектот преку социјалните медиуми (Online PR капмања);</li>
					<li>Организирање на прес конференција за промоција на првичните резултати и проектни активности;</li>
					<li>Организирање на јавен настан за промоција на проектот и продуктите од проектот;</li>
					<li>Гостување во три национални телевизии и две радио станици.</li>
				</ol>
			</div>
		</div>
	</div>
</div>

