<!--Закон за правда за децата-->
<div id="page-zakon-pravda" class="page page_zakon_pravda">

	<!--Content-->
	<div>
		<div class="page-segment">
			<h4 class="page-subtitle">Што уредува законот за правда за децата?</h3>
			<div class="page-text">
				<ul>
					<li>Го уредува постапувањето со децата во ризик и децата сторители на дејствија што со закон се предвидени како кривични дела и прекршоци.</li>
					<li>Лишување на дете од слобода се применува само како последно средство во постапката и само под услови и во траење определени со овој закон.</li>
					<li>Во постапката спрема деца се применуваат одредбите од ЗКП, освен онаму каде е поинаку определено.</li>
				</ul>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle"><span style="color: #ff0000;">Какви се овластувањата на мвр кога се работи за деца осомничени за кривично дело?</span></h3>
			<div class="page-text">
				<ul>
					<li>(дете е секое лице на возраст до 18 години)</li>
				</ul>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Повикување на дете за кое постојат основи на сомневање дека сторило кривично дело, заради собирање на информации од страна на МВР</h3>
			<div class="page-text">
				<span style="color: #ff0000;">Пред започнување на разговорот детето&#8230;</span>
				<ul>
					<li>задолжително се запознава со неговите права како и со причините за повикувањето и со сите факти кои се однесуваат на случајот што е предмет на разговорот.</li>
				</ul>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Дали разговорот со дете може да се води без бранител?</h3>
			<div class="page-text">
				<ul>
					<li>Не, разговорот со детето задолжително се води во присуство на неговиот бранител и родителите односно законскиот застапник.</li>
					<li>Ако детето или неговите родителите односно старатели не земат бранител, службените лица на МВР ќе определат бранител од листата на адвокати доставена од Адвокатската комора на Република Македонија.</li>
				</ul>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Разговорот со дете може да трае&#8230;</h3>
			<div class="page-text">
				<ul>
					<li>најдолго <span style="color: #ff0000;">четири часа</span>. По потреба разговорот може, во согласност со детето, да продолжи друг ден.</li>
					<li>Разговорот со детето се води во посебни простории соодветни за разговор со дете од негова возраст.</li>
				</ul>
			</div>
		</div>

		<div class="page-segment">
			<h4 class="page-subtitle">Задржување на дете во полиција&#8230;</h3>
			<div class="page-text">
				<ul>
					<li><span style="color: #ff0000;">Задржувањето на дете</span> во полициска станица може да трае најмногу до <span style="color: #ff0000;">12 часа</span>.</li>
					<li>Задржувањето подолго од 6 часа мора да го одобри службеникот за прифат во посебно определена и опремена полициска станица.</li>
					<li>За задржување на дете, полицијата мора веднаш да го известат јо, судијата за деца, односно судијата на претходната постапка, родителите, односно старателите, неговиот бранител и центарот.</li>
					<li>Полицијата најмногу до 8 часа може да задржи дете затечено при извршување на дејствие што со закон е предвидено како прекршок против јавниот ред и мир, доколку воспоставувањето на јавниот ред и мир или отстранувањето на загрозувањето не може да се постигне на друг начин или кога е под дејство на алкохол, дрога или други психотропски супстанции.</li>
					<li>Детето се задржува во простории соодветни за задржување на дете од негова возраст, различни од просториите за задржување на полнолетни лица.</li>
					<li>За задржувањето се составува записник, во кој се внесуваат сите податоци за денот и часот кога детето е задржано, причините за задржувањето, времето кога е поучено за неговите права, психофизичката состојба во моментот на неговото задржување, времето кога е разговарано со детето, констатација на службените лица за постоењето на видливи телесни повреди и времето на прекинување на задржувањето. Записникот го потпишува детето и неговите родители, односно старатели, како и бранителот.</li>
					<li>Задржаното дете мора без одлагање, а најдоцна во рок од 12 часа да биде изведено пред судија за деца, кој ќе одлучи за одредување на притвор или за пуштање на детето на слобода.</li>
					<li>Ако судијата за деца најде дека нема основ за задржување на детето, ќе донесе решение за негово пуштање на слобода, во кое ќе ја оцени законитоста на задржувањето.</li>
				</ul>
			</div>
		</div>
	</div>
</div>

